body {font-family: Arial, Helvetica, sans-serif;}
h1 {font-family: Arial, Helvetica, sans-serif;}
.dval {font-family: Arial, Helvetica, sans-serif;}
.eop { font-family: Arial, Helvetica, sans-serif;}
.bdc1 {border: grey 8px outset;}
.bdc2 {border: grey 8px outset;}
.selbd {border:grey 12px outset;}
.resu {border: white 8px outset; font-family: Arial, Helvetica, sans-serif;}